<div class="content">
  <h1>Registeration</h1>
<div class="form">
  <input type="text" placeholder="Name" [(ngModel)]="usrName"  />
  <div style="text-align: center; color: red;" *ngIf="usrName.length<=3 && usrName  else trueBlockName">
    <p>Name length must be more than 3</p>
  </div>
  <ng-template #trueBlockName>
    <div style="text-align: center; color: greenyellow;" *ngIf="usrName">
      <p>Name valid</p>
    </div>
  </ng-template>
  <input type="text" placeholder="Age"  [(ngModel)]="usrAge" />
  <div style="text-align: center; color: red;" *ngIf="+usrAge>40 || +usrAge<20 && usrAge else trueBlock">
    <p>Age Not Valid</p>
  </div>
  <ng-template #trueBlock>
    <div style="text-align: center; color: greenyellow;" *ngIf="usrAge">
      <p>Age Valid</p>
    </div>
  </ng-template>

  <input type="button" value="ADD" (click)="Add()"/>
</div>

</div>
