<div class="container">
  <div class="row">
    <div class="col">
      <table class="table text-center table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of studentsFromParent; index as i">
            <td>{{s.name}}</td>
            <td>{{s.age}}</td>
            <td>{{s.email}}</td>
            <td>
              <a href="user/{{ i + 1 }}"
                 class="btn btn-outline-primary">View Details
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
