<!-- <div class="alert alert-primary"  *ngFor="let u of Users">
  <h5>Name: {{u.name}}</h5>
  <p>Email: <a routerLink="/users/{{u.id}}">{{u.email}}</a></p>
</div> -->


<div class="container">
  <div class="row">
    <div class="col mt-5" style="height: 305px; overflow-y: scroll;">
      <table class="table text-center table-striped " >
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of Users; index as i">
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td><a>{{user.email}}</a></td>
            <td>
              <a routerLink="/user-details/{{user.id}}"
                 class="btn btn-outline-info">View
              </a>

            </td>
            <td>
              <a routerLink="/user-update/{{user.id}}"
                 class="btn btn-outline-primary">Edit
              </a>

            </td>
            <td>
              <a
              class="btn btn-outline-danger"
              routerLink="/"
              (click)="deleteUser(user.id)"
                 >delete
              </a>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
